/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#description {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}

.gm-style-iw-a {
  display: none;
}

.gm-style-mtc div {
  font-size: 14px !important;
  width: fit-content;
  padding: 8px 10px !important;
}

.gmnoprint {
  margin: 5px 10px 10px 5px !important;
}

#autocomplete {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  padding: 6px 5px 6px 15px;
  text-overflow: ellipsis;
  width: 400px;
  max-width: 100%;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #ccc;
}
