{% load static %}
<!DOCTYPE html>
<html style="font-size: 17px">
  <head>
    <link rel="stylesheet" href="{% static "map-style.css" %}">
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat&amp;display=swap"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>eTreasure Hunt</title>
    <style>
      .top {
        background-image: url("{% static "colors.png" %}");
      }
    </style>
  </head>

  <body>
    <header class="top">
      <div class="left"><a href="/">HOME</a></div>
      <div class="right"><a href="/accounts/logout?next=/">Log out</a></div>
    </header>

    <div id="map"></div>
    <button
      id="searchbutton"
      class="gobutton alt-gobutton"
      style="font-size: 0.9rem; position:absolute; bottom: 10px; left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%) z-index: 2;"
      onclick="searchHere()"
    >
      SEARCH HERE
    </button>

    <!-- Load Leaflet from CDN -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
      integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
      crossorigin=""
    />
    <script
      src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
      integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
      crossorigin=""
    ></script>

    <!-- Load Esri Leaflet from CDN -->
    <script
      src="https://unpkg.com/esri-leaflet@3.0.2/dist/esri-leaflet.js"
      integrity="sha512-myckXhaJsP7Q7MZva03Tfme/MSF5a6HC2xryjAM4FxPLHGqlh5VALCbywHnzs2uPoF/4G/QVXyYDDSkp5nPfig=="
      crossorigin=""
    ></script>

    <!-- Load Esri Leaflet Geocoder from CDN -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/esri-leaflet-geocoder@3.1.1/dist/esri-leaflet-geocoder.css"
      integrity="sha512-IM3Hs+feyi40yZhDH6kV8vQMg4Fh20s9OzInIIAc4nx7aMYMfo+IenRUekoYsHZqGkREUgx0VvlEsgm7nCDW9g=="
      crossorigin=""
    />
    <script
      src="https://unpkg.com/esri-leaflet-geocoder@3.1.1/dist/esri-leaflet-geocoder.js"
      integrity="sha512-enHceDibjfw6LYtgWU03hke20nVTm+X5CRi9ity06lGQNtC9GkBNl/6LoER6XzSudGiXy++avi1EbIg9Ip4L1w=="
      crossorigin=""
    ></script>

    <script>
        const api_key = "{{ api_key }}";
    </script>

    <script src="{% static "alternate-map.js" %}"></script>
  </body>
</html>
