{% load static %}
<!DOCTYPE html>
<html style="font-size: 17px">
  <head>
    <link rel="stylesheet" href="{% static "style.css" %}">
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat&amp;display=swap"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>eTreasure Hunt</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
    <style>
      .top {
        background-image: url("{% static "colors.png" %}");
      }
    </style>
  </head>

  <body>
    <div class="top">
      <div class="left"><a href="/">HOME</a></div>
      <div class="right"><a href="/accounts/logout?next=/">Log out</a></div>
    </div>

    <div class="content">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
