{% extends 'base.html' %}

{% block content %}

{% if current_level != highest_level %}
  <div class="banner">Your team is on Level {{ team_level }}! <a href="/level/{{ team_level }}">Join them</a></div>
{% endif %}
  <div class="heading"><h1>{{ level_name }}</h1><h2>Level {{ current_level }}</h2></div>

{% if current_level > 1 %}
  <h3>{{ latitude }}, {{ longitude }}</h3>
{% endif %}

<div class="story">
{% for para in desc_paras %}
  <p>{{ para }}</p>
{% endfor %}
</div>

<div class="hints">
{% for hint in hints %}
  <img class="hint" src="{{ hint }}" alt="My image"/>
{% endfor %}
</div>

  {% if is_last is not True %}
    <a class="gobutton" href="/map?lvl={{ current_level }}">
      SEARCH MAP
    </a>
    <a class="gobutton" href="/search?lvl={{ current_level }}">
      SEARCH CO-ORDINATES
    </a>
    
    {% if current_level != highest_level %}
      <a class="gobutton" href="/level/{{ highest_level }}">
        GO TO LEVEL {{ highest_level }}
      </a>
    {% elif allow_hint %}
      <a class="gobutton" href="/hint?lvl={{ current_level }}" onclick="return confirm(' Are you sure you want to request a hint?')">
        REQUEST HINT
      </a>
    {% else %}
      <div class="gobutton-disabled" title="{{ reason }}">REQUEST HINT</div>
      <p class="reason">{{ reason }}</p>
    {% endif %}
  {% endif %}

{% endblock %}
