{% extends 'base.html' %} {% block content %}
<h1>TIME TO WORK!</h1>
<div class="story">
  <p>
    You're not supposed to be here. You're supposed to be working.
  </p>
  <p>
    Actually, it could be 3am where you are, but the point is
    <i>lots of people</i> are supposed to be working, and it was too much effort
    to account for timezones. Sorry.
  </p>
  <p>
    Whether you're at work or not, I'm afraid you're not currently able to stare
    pointlessly at a bunch of pictures, hoping they'll somehow reveal their
    secrets. You'll have to do that later.
  </p>
  <p>
    Go do something else now, please.
  </p>
</div>
{% endblock %}
